<<<<<<< HEAD
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-image: url(fon-1/d00032.gif); }

[class*="col-"] {
  padding: 6px;
  width: 100%; }

.logo {
  padding-top: 15px;
  background-image: url(fon-1/d00032.gif); }

.logo img {
  max-width: 130px;
  border-radius: 7px;
  float: left;
  margin-right: 15px; }

.logo p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: bold;
  color: #1c385e;
  overflow: hidden; }

.header {
  margin-bottom: 35px; }
  .header a {
    background-image: linear-gradient(#143142, #4a6683);
    text-align: center;
    color: #e9ecef;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px; }
  .header a:hover {
    background-color: #f1f1ed;
    background-image: url(fon-1/d00032.gif);
    color: #243346;
    font-weight: bold;
    text-decoration: none; }

h1,
h4 {
  text-align: center; }

.container h1 {
  margin-top: 15px;
  margin-bottom: 18px;
  font-size: 20px; }

.container h4 {
  font-size: 18px; }

.content {
  margin-top: 15px; }

.img-main {
  max-width: 100%;
  margin: 20px; }

.banners div {
  border: 1px solid #90a4af; }

.banners img {
  max-width: 130px; }

.footer {
  display: flex;
  flex-flow: column wrap;
  background-image: url(fon-1/Dark3.jpg);
  border: none; }

.footer-up {
  display: flex;
  flex-flow: row wrap; }

.block-nav-footer {
  display: flex;
  flex-flow: row wrap;
  flex: 3 1 200px;
  align-content: flex-start;
  padding: 15px 10px; }

.nav-footer {
  flex: 1 1 60px;
  color: #fcfa82;
  margin: 6px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-align: center; }

.footer-form {
  flex: 1 1 100px;
  text-align: center;
  padding: 15px 20px; }

.footer-form label {
  color: #ebebeb;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 19px; }

.footer-form input[type='reset'] {
  padding: 5px 8px;
  background-color: #5c5d5e;
  background-image: linear-gradient(#555555, #818181);
  color: white;
  border-color: #97979b;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
  margin-top: 15px; }

.footer-form input[type='reset']:hover {
  background-color: #686868;
  background-image: linear-gradient(#919191, #505050); }

.footer-form input[type='submit'] {
  padding: 5px 9px;
  margin-left: 10px;
  background-color: #074477;
  background-image: linear-gradient(#074477, #4076c7);
  border-color: #074477;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  margin-top: 15px; }

.footer-form input[type='submit']:hover {
  background-color: #4076c7;
  background-image: linear-gradient(#4076c7, #074477); }

.copyright-box {
  padding: 25px 50px; }

.copyright-box p {
  display: inline-block;
  color: #e6e6e6;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px; }

@media (min-width: 576px) {
  .header a {
    font-size: 18px; }
  .container h1 {
    margin-top: 15px;
    margin-bottom: 18px;
    font-size: 26px; } }

@media (min-width: 768px) {
  .container h1 {
    margin-top: 15px;
    margin-bottom: 18px;
    font-size: 36px; }
  .banners h1 {
    font-size: 28px; } }

@media (min-width: 992px) {
  body {
    max-width: 100%; } }
=======
>>>>>>> e56872d1f86b2ae33518b9c9334bbd258c8c5c96
