
<div class="footer-up">
    <div class="block-nav-footer">
        <a href="##########" class="nav-footer">Home</a>
        <a href="##########" class="nav-footer">Cources</a>
        <a href="##########" class="nav-footer">Prices</a>
        <a href="##########" class="nav-footer">Publics</a>
        <a href="##########" class="nav-footer">Contacts</a>
        <a href="##########" class="nav-footer">Blog</a>
    </div>
    <form action="" method="post" class='footer-form'>
        <label for='suscription'> To subscribe enter your e-mail</label>
        <input type="text" id='suscription' class='email' name='email' size="30"><br>
        <input type="reset" value="RESET">
        <input type="submit" value="SEND">
    </form>
</div>
<div class="copyright-box">
    <p> Copyright &#169 - NEW Co. All Rights Reserved.</p>
</div>
